.chatList {
  background-image: url("../../../assets/img/background-purple-2.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
}
.chatList__header {
  padding: 10px;
  width: 100%;
  background-color: #dee2e6;
  text-align: center;
}
.chatList__body {
  padding: 10px;
}
